janome
streamlit>=1.31.0
pandas>=2.2.0
numpy>=2.0.0
openai>=1.30.0
scipy>=1.14.0
scikit-learn
python-dotenv>=1.0.0
tqdm>=4.66.1
aiohttp>=3.9.3
chardet<6
openpyxl>=3.1.2
azure-storage-blob>=12.19.0
azure-identity>=1.16.0
